//------------------------------
// Default styles
//------------------------------
body{
	// background-color: $main-bg-color;
	// color: $main-text-color;
	// font-family: 'Roboto-Regular';
}

//------------------------------
// Variables
//------------------------------
.u-clear-fix{
	clear: both;
}

.u-hide{
	display: none;
}

.u-block{
	display: block;
}

.u-center{
	text-align: center;
}

.u-margin-center{
	margin: 0 auto;
}

.u-absolute-center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	margin: auto;
}

.u-full-width{
	width: 100%;
}
//------------------------------
// Colour Variables
//------------------------------
$default-text-color: #FFF;
// $main-bg-color: ;
$default-search: #0082CA;
$default-search-lighten: lighten($default-search, 10%);
$default-random-quote: #D50058;
$default-random-quote-lighten: lighten($default-random-quote, 10%);
//------------------------------
// URLS Variables
//------------------------------
$img: '../img';
