//------------------------------
// Imports
//------------------------------
@import 'reset';
@import 'default';
@import 'animations';

//------------------------------
// Home -> Dual Panel selection
//------------------------------
html,
body{
    width: 100%;
    height: 100%;
}

.dual-panel{
    // Block styles
    width: 100%;
    height: 50%;


    // Modifiers
    &--search{
        @include lighten-hover-color($default-text-color);

        background-color: $default-search-lighten;

        cursor: pointer;

        @media screen and (min-width: 1024px) {
            background-color: $default-search;
        }

        &:hover{
            background-color: $default-search-lighten;
        }
    }

    &--random-article{
        @include lighten-hover-color($default-text-color);

        background-color: $default-random-quote-lighten;

        cursor: pointer;

        @media screen and (min-width: 1024px) {
            background-color: $default-random-quote;
        }

        &:hover{
            background-color: $default-random-quote-lighten;
        }
    }

    &--active{
        height: 100%;

        transition: height 1s ease-in-out,
                    background-color 1s ease-in-out;

        background-color: $default-text-color;
    }

    &--hide{
        display: none;
    }

    // Elements
    &__link{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        color: $default-text-color;
        font-size: calc(2.1em + 1vw);
    }
}

//------------------------------
// Search
//------------------------------
.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 100%;
    margin-bottom: -70px; // Equal to the footer

    &::after {
        display: block;

        height: 70px;

        content: '';
    }

    // Modifiers
    &--hide{
        display: none;
    }
}

.search-form{
    // Element styles
    width: 290px;
    height: 40px;
    margin-top: 30px;
    // margin-bottom: 30px; // Safari fix

    transition: 1s ease-in-out,
                opacity 500ms ease-in-out,
                width 500ms ease-in-out;

    opacity: 1;

    @media screen and (min-width: 425px){
        width: 400px;
    }
    @media screen and (min-width: 768px){
        width: 500px;
        height: 45px;
    }
    @media screen and (min-width: 1024px){
        margin-top: 50px;
    }

    // Modifiers
    // Default --hide, then remove. -> Clean animation for the appearing
    &--hide{
        opacity: 0;
    }

    // Animation when a search is perfomed -> search-form goes to the top of the page, leaving space for the results
    &--expanded{
        @media screen and (min-width: 768px){
            width: 600px;
        }
    }

    // Elements
    &__input{
        width: calc(100% - 40px);
        height: 100%;
        padding: 2px 9px 0;
        float: left;

        transition: border 250ms ease-in-out;

        border: 1px solid #D9D9D9;
        border-right: none;
        border-radius: 3px 0 0 3px;

        font-size: 20px;
        font-weight: 300;

        &:hover{
            border: 1px solid #B9B9B9;
            border-right: none;
        }

        &:focus{
            border: 1px solid #4E90FE;
            border-right: none;
        }

        @media screen and (min-width: 768px){
            width: calc(100% - 45px);

            font-size: 22px;
        }

        // Modifiers
        &--empty{
            border: 1px solid #FF1E1E;
            border-right: none;
        }
    }

    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 100%;
        float: left;

        border-radius: 0 3px 3px 0;

        background-color: #3B78E7;

        &:hover{
            cursor: pointer;
        }

        &:focus{
            background-color: #4285F4;
        }

        @media screen and (min-width: 768px){
            width: 45px;
        }

        & svg{
            width: 22px;
            height: 22px;

            @media screen and (min-width: 768px){
                width: 25px;
                height: 25px;
            }
        }

        & path{
            fill: $default-text-color;
        }
    }
}

.search-result{
    &-item{
        width: 80%;
        height: auto;

        margin: 30px auto 50px;

        transition: box-shadow 250ms 3.38295ms;

        background-color: $default-text-color;

        color: #000;
        font-weight: 100;

        animation: fadeInFromNone 500ms ease-in-out;

        @media screen and (min-width: 1024px){
            width: 90%;
        }

        // Modifiers
        &--random-article{
            @include card(2);

            display: block;
            width: 90%;
            max-width: 500px;

            margin: 50px auto;// FIX
            padding: 10px;

            border-radius: 3px;

            background-color: $default-random-quote;

            color: $default-text-color;
            font-size: 1.4em;
            font-weight: 100;

            &:hover{
                @include card(4);
                background-color: $default-random-quote-lighten;
            }

            @media screen and (min-width: 768px){
                font-size: 1.7em;
            }
        }

        // Elements
        &__title{
            padding-bottom: 10px;

            font-size: 1.7em;
            font-weight: inherit;
        }
    }
}

.search-error{
    max-width: 100%;

    margin: 100px auto;

    animation: fadeInFromNone 500ms ease-in-out;

    // Elements
    &__header{
        padding-bottom: 10px;

        color: #000;
        font-size: calc(1.3em + 1vw);
        font-weight: 100;
    }
}

.footer{
    // Block styles
    width: 100%;
    height: 70px;

    padding: 20px 5%;

    background-color: #000;

    animation: fadeInFromNone 500ms ease-in-out;

    // Modifiers
    &--hide{
        display: none;
    }

    // Elements
    &__text{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        color: $default-text-color;

        &--link{
            font-style: italic;
        }
    }
}

.social{
    // Block styles
    float: right;

    // Elements
    &__item:not(:last-child){
        margin-right: 15px;
    }

    &__link--github{
        position: relative;
        top: 1px;
    }
}
