@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

.u-clear-fix {
  clear: both; }

.u-hide {
  display: none; }

.u-block {
  display: block; }

.u-center {
  text-align: center; }

.u-margin-center {
  margin: 0 auto; }

.u-absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.u-full-width {
  width: 100%; }

* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

strong {
  font-weight: bold; }

a,
button {
  transition: 0.3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input {
  border-radius: 0; }

ul,
ul > li {
  display: inline-block; }

* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main {
  display: block; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.17rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.83rem; }

h6 {
  font-size: 0.67rem; }

strong {
  font-weight: bold; }

a,
button {
  transition: 0.3s;
  color: inherit; }

a {
  text-decoration: none; }

button {
  border: none;
  background: none;
  font: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  -webkit-font-smoothing: inherit; }

::-moz-focus-inner {
  padding: 0;
  border: none; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

input {
  border-radius: 0; }

ul,
ul > li {
  display: inline-block; }

.u-clear-fix {
  clear: both; }

.u-hide {
  display: none; }

.u-block {
  display: block; }

.u-center {
  text-align: center; }

.u-margin-center {
  margin: 0 auto; }

.u-absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.u-full-width {
  width: 100%; }

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

html,
body {
  width: 100%;
  height: 100%; }

.dual-panel {
  width: 100%;
  height: 50%;
  color: #f2f2f2; }
  .dual-panel:hover {
    color: #FFF; }
  .dual-panel--up {
    background-color: #00a3fd; }
    @media screen and (min-width: 1024px) {
      .dual-panel--up {
        background-color: #0082CA; } }
    .dual-panel--up:hover {
      background-color: #00a3fd; }
  .dual-panel--down {
    background-color: #ff096f; }
    @media screen and (min-width: 1024px) {
      .dual-panel--down {
        background-color: #D50058; } }
    .dual-panel--down:hover {
      background-color: #ff096f; }
  .dual-panel--active {
    height: 100%;
    transition: 1s ease-in-out;
    background-color: #FFF;
    color: #000; }
    .dual-panel--active:hover {
      background-color: #FFF; }
  .dual-panel__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.1em; }

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%; }
  .search--hide {
    display: none; }

.search-form {
  width: 290px;
  height: 40px;
  margin-top: 30px;
  transition: 1s ease-in-out, opacity 500ms ease-in-out, width 500ms ease-in-out;
  opacity: 1; }
  @media screen and (min-width: 425px) {
    .search-form {
      width: 400px; } }
  @media screen and (min-width: 768px) {
    .search-form {
      width: 500px;
      height: 45px; } }
  @media screen and (min-width: 1024px) {
    .search-form {
      margin-top: 50px; } }
  .search-form--hide {
    opacity: 0; }
  @media screen and (min-width: 768px) {
    .search-form--expanded {
      width: 600px; } }
  .search-form__input {
    width: calc(100% - 40px);
    height: 100%;
    padding: 2px 9px 0;
    float: left;
    border: 1px solid #D9D9D9;
    border-right: none;
    border-radius: 3px 0 0 3px;
    font-size: 20px;
    font-weight: 300; }
    .search-form__input:hover {
      border: 1px solid #B9B9B9;
      border-right: none; }
    .search-form__input:focus {
      border: 1px solid #4E90FE;
      border-right: none; }
    @media screen and (min-width: 768px) {
      .search-form__input {
        width: calc(100% - 45px);
        font-size: 22px; } }
  .search-form__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    float: left;
    border-radius: 0 3px 3px 0;
    background-color: #3B78E7; }
    .search-form__icon:hover {
      cursor: pointer; }
    .search-form__icon:focus {
      background-color: #4285F4; }
    @media screen and (min-width: 768px) {
      .search-form__icon {
        width: 45px; } }
    .search-form__icon svg {
      width: 22px;
      height: 22px; }
      @media screen and (min-width: 768px) {
        .search-form__icon svg {
          width: 25px;
          height: 25px; } }
    .search-form__icon path {
      fill: #FFF; }

.search-result-item {
  width: 90%;
  height: auto;
  margin: 30px auto;
  transition: box-shadow 250ms 3.38295ms;
  background-color: #FFF;
  color: #000;
  font-weight: 100; }
  .search-result-item--random-article {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
    display: block;
    width: 90%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 3px;
    background-color: #D50058;
    color: #FFF;
    font-size: 1.4em;
    font-weight: 100; }
    .search-result-item--random-article:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
      background-color: #ff096f; }
    @media screen and (min-width: 768px) {
      .search-result-item--random-article {
        font-size: 1.7em; } }
  .search-result-item__title {
    padding-bottom: 10px;
    font-size: 1.7em;
    font-weight: inherit; }

.search-error {
  display: none; }
  .search-error--active {
    animation: fadeInFromNone 500ms ease-in-out; }
  .search-error__header {
    margin-top: 100px;
    margin-bottom: 100px;
    color: #000;
    font-weight: 100; }

.footer {
  width: 100%;
  height: 70px;
  padding: 20px;
  background-color: #000; }
  .footer__text {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.social {
  float: right; }
  .social__item:not(:last-child) {
    margin-right: 15px; }
  .social__link--github {
    position: relative;
    top: 1px; }
